// Sizing
$vertical-padding: 30px;
$horizontal-padding: 30px;
$main-width: 75%;
$main-margin-left: 25%;
$aside-width: 25%;

// Colors
$grey: #212121;
$sky: #56a3a6;
$orange: #f0544f;
$frost: #c6d8d3;
$cream: #fffbf4;