@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

// Sizing
$vertical-padding: 50px;
$horizontal-padding: 30px;
$main-width: 80%;
$main-margin-left: 20%;
$aside-width: 20%;
// Colors
$grey: #212121;
$sky: #56a3a6;
$orange: #f0544f;
$frost: #c6d8d3;
$cream: #fffbf4;