@import './variables';
@import './mixins';

body {
  margin-top: -19px;
  color: $grey;
}

.content {
  margin: 0 auto;
  
  // Setting the width and padding sizes
  @include media('>=large') {
    $main-width: 20%;
    $main-margin-left: 20%;
    $vertical-padding: 50px;
    $horizontal-padding: 8%;
    // width: $main-width;
    margin-left: $main-margin-left;
    padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;
  }

  @include media('>=medium', '<large') {
    $main-width: 20%;
    $main-margin-left: 20%;
    $vertical-padding: 50px;
    $horizontal-padding: 8%;
    // width: $main-width;
    margin-left: $main-margin-left;
    padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;
  }

  @include media('>xsmall', '<medium') {
    $main-width: 100%;
    $main-margin-left: 0;
    $vertical-padding: 50px;
    $horizontal-padding: 48px;
    // width: $main-width;
    margin-left: $main-margin-left;
    padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;
  }
  @include media('<=xsmall') {
    $main-width: 100%;
    $main-margin-left: 0;
    $vertical-padding: 50px;
    $horizontal-padding: 24px;
    // width: $main-width;
    margin-left: $main-margin-left;
    padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;
  }

}