@import './variables';
@import './mixins';

body {
  margin-top: -19px;
  color: $grey;
}

.content {
  margin: 0 auto;

  .title {
    color: lighten($grey, 25%);
    margin-top: 20px;
  }

  .tagline {
    color: $sky;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  // Setting the width and padding sizes
  @include media('>=large') {
    $main-width: 25%;
    $main-margin-left: 25%;
    $vertical-padding: 30px;
    $horizontal-padding: 6%;
    margin-left: $main-margin-left;
    padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;
  }

  @include media('>=medium', '<large') {
    $main-width: 25%;
    $main-margin-left: 25%;
    $vertical-padding: 30px;
    $horizontal-padding:6%;
    margin-left: $main-margin-left;
    padding: $vertical-padding $horizontal-padding $vertical-padding $horizontal-padding;
  }

  @include media('>xsmall', '<medium') {
    $main-width: 100%;
    $main-margin-left: 0;
    $vertical-padding: 30px;
    $horizontal-padding: 48px;
    margin-left: $main-margin-left;
    padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;
  }
  @include media('<=xsmall') {
    $main-width: 100%;
    $main-margin-left: 0;
    $vertical-padding: 30px;
    $horizontal-padding: 24px;
    margin-left: $main-margin-left;
    padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;
  }

}